{% include "header.html" %}

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Jennifer Lau</h2>
						</header>
						<p>I'm a self-taught programmer.</p>
						<p>Welcome to my portfolio.</p>
						<p>Always a work in progress!</p>
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Check Me Out</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-laptop-code"></span>
						<h2>I learned full-stack web development (HTML, CSS, Javascript)
						<br>
						and Python through online coding bootcamps.
					</h2>

					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2>A selection of different languages I've learned:</h2>
									</header>
									<ul>
									<li><strong>Web development:</strong> HTML, CSS, Bootstrap, Javascript, jQuery, EJS, Node.js, SQL, MongoDB, React.js.</li>
									<ul>
										<li><strong>Front-end concepts:</strong> Web design, wireframing, user interface, responsive design.</li>
										<li><strong>Back-end concepts:</strong> EJS templating, SQL databases and MongoDB, authentication and security (bcrypt, Passport.js, OAuth).</li>
									</ul>
									<li><strong>Python: </strong></li>
									<ul>
										<li>Object Oriented Programming: Turtle</li>
										<li>Graphical User Interface design: TKInter</li>
										<li>Web scraping and automation bots: Beautiful Soup, Selenium</li>
										<li>Backend development: Flask, Jinja templating, WTForms</li>
										<li>Data analysis: Pandas, Matplotlib, Plotly</li>
									</ul>
								</ul>
									<footer>
										<!-- <ul class="buttons">
											<li><a href="#" class="button">Should I use this button?</a></li>
										</ul> -->
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

									<ul class="featured-icons">
										<li><span class="icon solid fa-code"><span class="label">code</span></span></li>
										<li><span class="icon brands fa-html5"><span class="label">HTML5</span></span></li>
										<li><span class="icon brands fa-css3-alt"><span class="label">CSS3</span></span></li>
										<li><span class="icon brands fa-js"><span class="label">Javascript</span></span></li>
										<li><span class="icon brands fa-node-js"><span class="label">Node.js</span></span></li>
										<li><span class="icon brands fa-react"><span class="label">React.js</span></span></li>
										<li><span class="icon brands fa-python"><span class="label">Python</span></span></li>
										<li><span class="icon solid fa-code-branch"><span class="label">code-branch</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon brands featured fa-html5"></span>
										<header>
											<h3>HTML and CSS Projects</h3>
										</header>
										<p>First, I had to learn the basics. We all have to start somewhere, right?
										<br>
										<a href="{{ url_for('load_web_dev_projects') }}#front-end">Click here to see my HTML and CSS projects.</a>
										</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon brands featured fa-react"></span>
										<header>
											<h3>Javascript and React Projects</h3>
										</header>
										<p>Then, I learned Javascript and its various libraries and frameworks: jQuery, EJS, Node.js, React.js.
										<br>
										<a href="{{ url_for('load_web_dev_projects') }}#back-end">Click here to see my Javascript and React projects.</a>
									</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon brands featured fa-python"></span>
										<header>
											<h3>Python Projects</h3>
										</header>
										<p>Finally, I tackled Python.
										<br>
										<a href="{{ url_for('load_py_projects') }}">Click here to see my Python projects.</a>
										</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Other random things <strong>about me</strong></h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{{ url_for('static', filename='/images/flute.jpg') }}" alt="flute" /></a>
										<header>
											<h3>I'm a musician</h3>
										</header>
										<p>I've played the flute for over twenty years, and I'm attempting (mostly failing) to teach myself guitar.</p>
										<p>Recently, I participated in the <a href="https://www.facebook.com/ukrainianmusicproject/" target="_blank">Ukranian Music Project</a> and recorded a woodwind quartet and an ensemble piece.</p>
										<iframe width="473" height="275" src="https://www.youtube.com/embed/wZb1CVJEL8w?start=2574" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
										<br>
										<p>Finale piece, <a href="https://youtu.be/wZb1CVJEL8w?t=4103" target="_blank">Prayer for Ukraine</a></p>
										<iframe width="473" height="275" src="https://www.youtube.com/embed/wZb1CVJEL8w?start=4103" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

										<a href="https://youtu.be/wZb1CVJEL8w" target="_blank">Link to the entire concert</a>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{{ url_for('static', filename='/images/bike.jpg') }}" alt="bicyle" /></a>
										<header>
											<h3>I'm a newbie cyclist</h3>
										</header>
										<p>I learned how to ride a bicycle, as an adult! In summer 2019, I completed a one week cycling trip through Bavaria, Germany, and in summer 2021, a trip through Costa Brava, Spain.</p>
										<a href="#"><img src="{{ url_for('static', filename='/images/bike.gif') }}" alt="bicyle gif" /></a>
									</section>

								</div>
							</div>

							<!-- <footer class="major"> -->
								<!-- <ul class="buttons">
									<li><a href="#" class="button">Another button?</a></li>
								</ul> -->
							<!-- </footer> -->

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Like what you <strong>see</strong>?</h2>
						<p>If you want to get in touch with me, click the button below.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="{{ url_for('contact') }}" class="button primary">I have something to say.</a></li>
						</ul>
					</footer>

				</section>

{% include "footer.html" %}