{% include "header.html" %}

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon brands fa-python"></span>
						<h2>My Python Projects</h2>
						<p>Here are some links to my Python projects</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<header>
											<h3>Python</h3>
										</header>
										<section>
										<h4>Games</h4>
										<p>After learning basic programming concepts like if/else control flow, for/while loops, I learned about Object Oriented Programming.</p>
										<p>Some of my favourite projects were building classic arcade games, like Snake and Pong.</p>
										<ul>
											<li><a href="https://github.com/jwklau/snake_game" target="_blank">Snake</a></li>
											<li><a href="https://github.com/jwklau/pong-game" target="_blank">Pong</a></li>
										</ul>
									</section>
									<section>
										<h4>API apps</h4>
										<p>I also learned how to work with APIs to build a rain alert app.</p>
										<ul>
											<li><a href="https://github.com/jwklau/rain-alert" target="_blank">Rain alert app</a></li>
										</ul>
										<p>When I learned web scraping, I built a really fun app that creates a Spotify playlist based on the Billboard Top 100 for a user-inputted date in the past.</p>
										<ul>
											<li><a href="https://github.com/jwklau/spotify-top-100" target="_blank">Spotify app</a></li>
										</ul>
									</section>
									<section>
										<h4>Back-end development with Flask</h4>
										<p>Then I learned how to build a Python server using Flask.</p>
										<ul>
											<li><a href="https://github.com/jwklau/blog-with-users-project" target="_blank">Flask blog</a></li>
										</ul>
									</section>
									<section>
										<h4>Data analysis</h4>
										<p>Currently, I'm learning data analysis with libraries like pandas, matplotlib and plotly.</p>
									</section>
									</section>
								</div>

						</section>


				</article>

{% include "footer.html" %}