{% include "header.html" %}

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-laptop"></span>
						<h2>My Web Development Projects</h2>
						<p>Here are some links to my web development projects, including HTML, CSS, Javascript and React.</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row gtr-150">
								<div class="col-4 col-12-narrower">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>HTML/CSS Projects</h3>
												</header>
												<p>First, I learned the basics of HTML and built a simple CV website. Then, I learned how to incorporate CSS styling and positioning of elements. Finally, I put it all together and used Bootstrap to create a landing page for a fictitious dating app for dogs, called TinDog.</p>
												
											</section>
											<section>
												<header>
													<h3>Javascript and React</h3>
												</header>
												<p>Next, I learned Javascript, and backend libraries like Node.js and Express. Then, I learned React.</p>
												<footer>
												<ul class="buttons">
													<li><a href="https://github.com/jwklau" target="_blank" class="button small">GitHub Profile</a></li>
												</ul>
												</footer>
											</section>
										</div>

								</div>
								<div class="col-8 col-12-narrower imp-narrower">

									<!-- Content -->
										<div class="content">
											<section>
												<header>
													<h3>Links to my projects on GitHub</h3>
												</header>
													<section id="front-end">
													<h4>Front-end projects</h4>
													<strong>HTML CV page:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/cv" target="_blank">Code</a></li>
													<li><a href="https://jwklau.github.io/cv/" target="_blank">Static page</a></li>
													</ul>

													<strong>CSS personal page:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/css" target="_blank">Code</a></li>
													<li><a href="https://jwklau.github.io/css/" target="_blank">Static page</a></li>
													</ul>

													<strong>Bootstrap Tindog:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/tindog-bootstrap-5" target="_blank">Code</a></li>
													</ul>

													<strong>Simon Game built with JQuery:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/simon-game-jquery" target="_blank">Code</a></li>
													</ul>
													
													<strong>React to-do list app:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/to-do-list-app" target="_blank">Code</a></li>
													<li><a href="https://c2c0b.csb.app/" target="_blank">CodeSandbox demo page</a></li>
													</ul>
													
													<strong>React Keeper app:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/react-keeper-app" target="_blank">Code</a></li>
													<li><a href="https://g51y8.csb.app/" target="_blank">CodeSandbox demo page</a></li>
													</ul>
												</section>

												<section id="back-end">
													<h4>Back-end projects</h4>
													<strong>Blog built with Node.js back-end and EJS templating:</strong>
													<ul>
													<li><a href="https://github.com/jwklau/blog-EJS" target="_blank">Code</a></li>
													</ul>
												</section>
											</section>
										</div>

								</div>
							</div>
						</section>
						

				</article>

{% include "footer.html" %}
